.avatar-wrapper {
    width: 150px; /* Ширина аватара */
    height: 150px; /* Высота аватара */
    overflow: hidden; /* Обрезать изображение, если оно выходит за границы */
    border-radius: 50%; /* Округление углов для круглой формы (если нужно) */
}

.avatar-wrapper img {
    width: 100%; /* Занимать 100% доступной ширины в обертке */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    object-fit: cover; /* Масштабировать изображение так, чтобы оно полностью заполняло свое пространство */
}
